body {
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Tajawal', sans-serif;
}

code {
  font-family: 'Alfa Slab One', cursive;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Tajawal', sans-serif;
}
